.center-blocking-plugin{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-blocking-plugin{
    margin-top:0px;
    font-size: 21px;
    font-weight: 600;
}

.button-blocking-plugin{
    border-radius: 8px;
    padding:35px;
    border:none;
    font-size: 21px;
}

#report_broken_page{
    background-color: #f55c47;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
}

#send_data{
    background-color: #a5e1ad;
    color:#000000;
    font-weight: 600;
    width: 100%;
}